

/*Gallery*/
.movies {
    display: grid;
    grid-template: repeat(4, 1fr);
}

.movies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 0
}

.card {
    width: clamp(160px, 23vw, 800px);
    padding: 3px;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 16px;
    aspect-ratio: 2/3;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card:hover {
    background-color: rgb(58, 58, 58);
    border: 2px solid gold;
}


/*Modal*/