

/*Gallery*/
.movies {
    display: grid;
    grid-template: repeat(4, 1fr);
}

.movies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 0
}

.card {
    width: clamp(160px, 23vw, 800px);
    padding: 3px;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 16px;
    aspect-ratio: 2/3;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card:hover {
    background-color: rgb(58, 58, 58);
    border: 2px solid gold;
}


/*Modal*/
.modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25 ease;
    z-index: 2;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modalPanel {
    position: relative;
    top: 5vh;
    width: 100%;
    height: 95vh;
    background: white;
    overflow: auto;
    display: grid;
    grid-template-columns: clamp(160px, 28vw, 400px) 1fr;
    grid-template-rows: 6% clamp(200px, 80%, 600px) 1fr;
    gap: 15px;
}

.modalClose {
    grid-area: 1 / 1 / 2 / 3;
    background-color: gray;
    color: gold;
    margin: 5px 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.modalClose:hover {
    background-color: rgb(58, 58, 58);
    color: white;
}

.modalPoster {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    object-position: top;
}

.modalInfo {
    grid-area: 2 / 2 / 3 / 3;
    /* background-color: gray; */
}

.comment {
    grid-area: 3 / 1 / 4 / 2; 
    display: flex;
    flex-direction: column;
    padding-left: 6%;
}
#comment {
    padding: 10px 13px;
}
#submitBtn {
    width: 20%;
    padding: 10px 13px;
    margin: 12% 0;
    color: white;
    background-color: rgb(45, 136, 255);
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
}

#submitBtn:hover {
    background-color: rgb(0, 90, 255);
    border-color: gold;
}